//colors
$primary-pink: #ae3d64;
$primary-maron: #622338;
$primary-white: #ffffff;

$secondary-pink: #88304e;
$secondary-cloud: #e6e6e6;

$background-pink: #8d4e63;

$supporting-green: #158463;
$supporting-red: #c94515;