@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;

.search{
    &__container{
        display: flex;
        position: absolute;
        gap: 0.75rem;
        top: 7rem;
        left: 1rem;
    }
    &__bar{
        box-sizing: border-box;
        width: 18rem;
        height: 2.5rem;
        background-image: url("../../assets/search-24px.svg");
        background-repeat: no-repeat;
        background-position: right 0.5rem center ;
        color: $secondary-pink;
        background-color: $secondary-cloud;
        padding: 0.5rem 1rem;
        border: 1px solid $secondary-pink;
        border-radius: 20px;
    }

    &__suggestions{
        background-color: $secondary-cloud;
        border-radius: 20px;
        border: 1px solid $primary-pink;
    }

    &__list{
        list-style-type: none;
        padding-left: 1rem;
        margin-bottom: 1rem;
        color: $secondary-pink;
        &__item{
            font-weight: 500;
            font-size: 0.75rem;
        }
    }
    &__locator__image{
        width: 2.5rem;
        height: 2.5rem;
    }
}
